<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "nav.html" . -}}
        <div id="content">
            {{with .Site.Params.banner}}
                {{- partial "banner.html" . -}}
            {{end}}
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
